doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../style.css")
        script(src="../script.js" defer) 
        title Document
    body 
        header.header 
            .container 
                .hamburger 
                    img.hamburger-img(src="../images/Group.png", alt="")
                .logo 
                    a.logo-a(href="#")
                        img.logo-img(src="../images/youtube-logo.png", alt="")  
                input.search-input(type="search" placeholder="search")   
                img.frame(src="../images/Frame 4.png", alt="")  
        main 
            section.container 
                 nav.navbar 
                    ol.list-menu 
                        li.item-menu     
                            img.home(src="../images/home.png", alt="")
                            a.link-menu(href="#")  Home
                        li.item-menu     
                            img.home(src="../images/trends.png", alt="")
                            a.link-menu(href="#")  Trends
                        li.item-menu     
                            img.home(src="../images/subs.png", alt="")
                            a.link-menu(href="#")  Subscriptions
                        li.item-menu     
                            img.home(src="../images/originals.png", alt="")
                            a.link-menu(href="#")  Originals
                    ol.list-menu2
                        li.item-menu     
                            img.home(src="../images/home.png", alt="")
                            a.link-menu(href="#")  Library
                        li.item-menu     
                            img.home(src="../images/trends.png", alt="")
                            a.link-menu(href="#")  History
                        li.item-menu     
                            img.home(src="../images/subs.png", alt="")
                            a.link-menu(href="#")  Your videos
                        li.item-menu     
                            img.home(src="../images/originals.png", alt="")
                            a.link-menu(href="#")  Your movies
                        li.item-menu     
                            img.home(src="../images/originals.png", alt="")
                            a.link-menu(href="#")  Watch later
                        li.item-menu     
                            img.home(src="../images/originals.png", alt="")
                            a.link-menu(href="#")  Show more
                    ol.list-menu3
                        li.item-menu3     
                            img.home(src="../images/home.png", alt="")
                            a.link-menu(href="#")  Library
                        li.item-menu     
                            img.home(src="../images/trends.png", alt="")
                            a.link-menu(href="#")  History
                        li.item-menu     
                            img.home(src="../images/subs.png", alt="")
                            a.link-menu(href="#")  Your videos
                        li.item-menu     
                            img.home(src="../images/originals.png", alt="")
                            a.link-menu(href="#")  Your movies
                        li.item-menu     
                            img.home(src="../images/originals.png", alt="")
                            a.link-menu(href="#")  Watch later
                        li.item-menu     
                            img.home(src="../images/originals.png", alt="")
                            a.link-menu(href="#")  Show more
                    ol.list-menu2
                        li.item-menu     
                            img.home(src="../images/home.png", alt="")
                            a.link-menu(href="#")  Library
                        li.item-menu     
                            img.home(src="../images/trends.png", alt="")
                            a.link-menu(href="#")  History
                        li.item-menu     
                            img.home(src="../images/subs.png", alt="")
                            a.link-menu(href="#")  Your videos
                        li.item-menu     
                            img.home(src="../images/originals.png", alt="")
                            a.link-menu(href="#")  Your movies
                        li.item-menu     
                            img.home(src="../images/originals.png", alt="")
                            a.link-menu(href="#")  Watch later
                        li.item-menu     
                            img.home(src="../images/originals.png", alt="")
                            a.link-menu(href="#")  Show more
                    ol.list-menu3
                        li.item-menu3     
                            img.home(src="../images/home.png", alt="")
                            a.link-menu(href="#")  Library
                        li.item-menu     
                            img.home(src="../images/trends.png", alt="")
                            a.link-menu(href="#")  History
                        li.item-menu     
                            img.home(src="../images/subs.png", alt="")
                            a.link-menu(href="#")  Your videos
                        li.item-menu     
                            img.home(src="../images/originals.png", alt="")
                            a.link-menu(href="#")  Your movies
                        li.item-menu     
                            img.home(src="../images/originals.png", alt="")
                            a.link-menu(href="#")  Watch later
                        li.item-menu     
                            img.home(src="../images/originals.png", alt="")
                            a.link-menu(href="#")  Show more
                     
                .card 
                .title_card 
                .card2 
                .title_card2 



        //-           { 
        //-     "id": "5", 
        //-     "title": "Doğu Karadeniz Dağlarında <br>Bisikletle Geziyoruz #100",
        //-     "parag2":"",
        //-     "image": "../images/content-video-thumbnail (4).png"
        //- },
        //- { 
        //-     "id": "6", 
        //-     "title": "Doğu Karadeniz Dağlarında <br>Bisikletle Geziyoruz #100",
        //-     "parag2":"",
        //-     "image": "../images/content-video-thumbnail (5).png"
        //- },
        //- { 
        //-     "id": "7", 
        //-     "title": "Doğu Karadeniz Dağlarında <br>Bisikletle Geziyoruz #100",
        //-     "parag2":"",
        //-     "image": "../images/content-video-thumbnail (6).png"
        //- },
        //- { 
        //-     "id": "8", 
        //-     "title": "Doğu Karadeniz Dağlarında <br>Bisikletle Geziyoruz #100",
        //-     "parag2":"",
        //-     "image": "../images/content-video-thumbnail (7).png"
        //- }
                //- img.card-img(src="../images/content-video-thumbnail.png", alt="")                               

